body{
	width: 600px;
	background: #256256;
	margin: 0 auto;
}

#friends li{
	background: #B4584B;
	margin: 10px 0;
}

ul li .edit{
	display: none;
}

ul li.edit .edit{
	display: initial;
}

ul li.edit .noedit{
	display: none;
}